.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
**/.cursor/plans/
node_modules/
dist/
out/
**/src/generated
syntaxes/
*.tsbuildinfo
*.vsix
.idea
packages/extension/demos/.env
packages/extension/demos/.env.local
packages/extension/demos/node_modules/
packages/extension/demos/tmp/
packages/cli/tmp/